<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<div>
		<br/>
		<button type="button" onclick="setPermission()" class="slds-button slds-button_outline-brand">Set the
			permission
		</button>
		<button type="button" onclick="this.disabled = true; installPackage()" class="slds-button slds-button_brand">Continue
			installation
		</button>
		<br/>
		<button type="button" onclick="testCICD()" class="slds-button slds-button_outline-brand">CI/CD Test
		</button>
	</div>
</body>
</html>
